.ctn{
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    font-family: 'Dancing Script', cursive;
}
i{
    color: white;
}
.section h1{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
}
.modal-title{
    font-family: 'Dancing Script', cursive;
    color: rgb(230, 191, 0);
    font-weight: 600;
}
.modal-body input{
    border: 2px solid rgb(255, 153, 0);
    border-radius: 15px;
}